@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background and Foreground */
    --background: 0, 0%, 100%; /* white color */
    --foreground: 0, 0%, 0%; /* Black for text */

    /* Primary Colors */
    --primary: 177, 72%, 32%; /*custom darkgreen Primary color for buttons */
    --primary-foreground: 0, 0%, 100%; /* White text on primary background */

    /* Secondary Colors */
    --secondary: 171, 72%, 70%; /* Variant of primary color */
    --secondary-foreground: 0, 0%, 100%; /* White text on secondary background */

    /* Border and Input */
    --border: 0, 0%, 59%; /* Light grey for borders */
    --input: 0, 0%, 96%; /* Very light grey for input fields */

    /* Variations for UI Elements */
    --muted: 240, 4.8%, 95.9%; /* Muted background for less prominent elements */
    --muted-foreground: 240, 3.8%, 46.1%; /* Muted foreground for less prominent text */

    --accent: 240, 4.8%, 92.9%; /* Accent background for highlights */
    --accent-foreground: 240, 5.9%, 10%; /* Accent foreground for highlights */

    --destructive: 0, 84.2%, 60.2%; /* Destructive action background (e.g., delete) */
    --destructive-foreground: 0, 0%, 98%; /* Destructive action text */

    /* Ring (focus outlines) */
    --ring: 346.8, 77.2%, 49.8%; /* Focus ring color */

    /* Border Radius */
    --radius: 0.5rem; /* Default border radius */
  }

  .dark {
    /* Background and Foreground */
    --background: 0, 0%, 18%; /* Dark background */
    --foreground: 0, 0%, 100%; /* White for text */

    /* Primary Colors */
    --primary: 263, 44%, 41%; /* Primary color remains the same */
    --primary-foreground: 0, 0%, 100%; /* White text on primary background */

    /* Border and Input */
    --border: 0, 0%, 33%; /* Dark grey for borders */
    --input: 0, 0%, 24%; /* Dark grey for input fields */

    /* Variations for UI Elements */
    --muted: 0, 0%, 15%; /* Muted background for less prominent elements */
    --muted-foreground: 240, 5%, 64.9%; /* Muted foreground for less prominent text */

    --accent: 12, 6.5%, 15.1%; /* Accent background for highlights */
    --accent-foreground: 0, 0%, 98%; /* Accent foreground for highlights */

    --destructive: 0, 62.8%, 30.6%; /* Destructive action background (e.g., delete) */
    --destructive-foreground: 0, 85.7%, 97.3%; /* Destructive action text */

    /* Ring (focus outlines) */
    --ring: 346.8, 77.2%, 49.8%; /* Focus ring color */

    /* Border Radius */
    --radius: 0.5rem; /* Default border radius */
  }

  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-extra {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
}

@layer base {
  * {
    @apply border-border custom-scrollbar;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply montserrat-regular;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 1px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--background);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }

  .container {
    @apply max-w-screen-xl mx-auto px-3 md:px-4 lg:px-6;
  }

  .topbar {
    @apply container flex justify-between items-center bg-background py-3 z-10 md:px-10 lg:px-20 sticky top-0;
  }

  .hero {
    @apply container relative -mt-20 h-screen flex flex-col justify-center items-center;
  }

  .hero-content {
    @apply absolute bottom-2/3 translate-y-3/4 text-center px-1 lg:px-28 mx-auto;
  }

  #mobile-menu {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  #mobile-menu.max-h-screen {
    transform: translateY(0);
  }

  #mobile-menu.opacity-100 {
    opacity: 1;
  }
}
