@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background and Foreground */
    --background: 0, 0%, 100%; /* white color */
    --foreground: 0, 0%, 0%; /* Black for text */

    /* Primary Colors */
    --primary: 177, 72%, 32%; /*custom darkgreen Primary color for buttons */
    --primary-foreground: 0, 0%, 100%; /* White text on primary background */

    /* Secondary Colors */
    --secondary: 171, 72%, 70%; /* Variant of primary color */
    --secondary-foreground: 0, 0%, 100%; /* White text on secondary background */

    /* Border and Input */
    --border: 0, 0%, 59%; /* Light grey for borders */
    --input: 0, 0%, 96%; /* Very light grey for input fields */

    /* Variations for UI Elements */
    --muted: 240, 4.8%, 95.9%; /* Muted background for less prominent elements */
    --muted-foreground: 240, 3.8%, 46.1%; /* Muted foreground for less prominent text */

    --accent: 240, 4.8%, 92.9%; /* Accent background for highlights */
    --accent-foreground: 240, 5.9%, 10%; /* Accent foreground for highlights */

    --destructive: 0, 84.2%, 60.2%; /* Destructive action background (e.g., delete) */
    --destructive-foreground: 0, 0%, 98%; /* Destructive action text */

    /* Ring (focus outlines) */
    --ring: 346.8, 77.2%, 49.8%; /* Focus ring color */

    /* Border Radius */
    --radius: 0.5rem; /* Default border radius */
  }

  .dark {
    /* Background and Foreground */
    --background: 0, 0%, 18%; /* Dark background */
    --foreground: 0, 0%, 100%; /* White for text */

    /* Primary Colors */
    --primary: 263, 44%, 41%; /* Primary color remains the same */
    --primary-foreground: 0, 0%, 100%; /* White text on primary background */

    /* Border and Input */
    --border: 0, 0%, 33%; /* Dark grey for borders */
    --input: 0, 0%, 24%; /* Dark grey for input fields */

    /* Variations for UI Elements */
    --muted: 0, 0%, 15%; /* Muted background for less prominent elements */
    --muted-foreground: 240, 5%, 64.9%; /* Muted foreground for less prominent text */

    --accent: 12, 6.5%, 15.1%; /* Accent background for highlights */
    --accent-foreground: 0, 0%, 98%; /* Accent foreground for highlights */

    --destructive: 0, 62.8%, 30.6%; /* Destructive action background (e.g., delete) */
    --destructive-foreground: 0, 85.7%, 97.3%; /* Destructive action text */

    /* Ring (focus outlines) */
    --ring: 346.8, 77.2%, 49.8%; /* Focus ring color */

    /* Border Radius */
    --radius: 0.5rem; /* Default border radius */
  }

  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-regular-dark {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-extra {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
}

@layer base {
  * {
    @apply border-border custom-scrollbar;
  }
  body {
    @apply bg-background text-foreground montserrat-regular-dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply montserrat-regular;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600 rounded-full;
  }

  .container {
    @apply max-w-screen-xl mx-auto px-3 md:px-4 lg:px-6;
  }

  .topbar {
    @apply container flex justify-between items-center py-3 z-10 md:px-10 lg:px-20 sticky top-0;
  }

  .navbar {
    transition: transform 0.3s ease-in-out;
  }

  .navbar.hidden {
    transform: translateY(-100%);
  }

  .navbar.visible {
    transform: translateY(0);
  }

  .hero {
    @apply container relative -mt-16 h-screen flex flex-col justify-center items-center bg-sky-300;
  }

  .hero-content {
    @apply absolute bottom-2/3 translate-y-3/4 text-center px-1 lg:px-28 mx-auto;
  }

  #mobile-menu {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  #mobile-menu.max-h-screen {
    transform: translateY(0);
  }

  #mobile-menu.opacity-100 {
    opacity: 1;
  }

  /*^ -----------------checkbox style START ------------------  */
  .checkbox-wrapper {
    background-color: hsl(var(--secondary));
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    height: 100%;
    color: hsl(var(--foreground));
    margin: 0.3em;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .uv-checkbox-wrapper {
    display: inline-block;
  }

  .uv-checkbox {
    display: none;
  }

  .uv-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    @media (max-width: 768px) {
      font-weight: 400;
      font-size: 0.8rem;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
    }
  }

  .uv-checkbox-icon {
    position: relative;
    width: 1.8em;
    height: 1.8em;
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    border: 2px solid hsl(var(--secondary));
    transition: border-color 0.3s ease, border-radius 0.3s ease;
  }

  .uv-checkmark {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 1.9em;
    height: 1.7em;
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 24;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  .uv-checkbox:checked + .uv-checkbox-label .uv-checkbox-icon {
    border-color: transparent;
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    background-color: black;
  }

  .uv-checkbox:checked + .uv-checkbox-label .uv-checkmark {
    stroke-dashoffset: 0;
  }

  .uv-checkbox:checked + .uv-checkbox-label .uv-checkbox-text {
    color: hsl(var(--primary));
  }

  .map-wrap {
    position: relative;
    width: 100%;
    height: calc(
      100vh - 77px
    ); /* calculate height of the screen minus the heading */
  }

  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /*^ -----------------checkbox style END------------------  */
}
